# Python virtual environments
venv/
venv1/
.venv/

# Python cache
__pycache__/
*.pyc

# Model artifacts
*.pkl
*.joblib

# Allow our trained models artifact
!models/v1/model.pkl

# Environment variables
.env

# MacOS system files
.DS_Store